# Global Settings
VERBOSITY=4 # 0: Error, 1: Warning, 2: Info, 3: Debug, 4: Trace
write_to_file=True # Write logs to file
clear_logs_on_start=True # Clear logs on startup
# API's
    # igdb (Twitch)
        # https://dev.twitch.tv/console/apps/create
        # Create application
        # Manage created application
        twitch_client_id=""
        twitch_client_secret=""
    igbd_rate_frequency_ms=250
    # Steam
        # https://steamid.io
        # paste in your steam url
        # copy `steamID64`
        steam_id64=""
        # https://steamcommunity.com/dev/apikey
        steam_secret=""
